<br />
<br />
<form action="/items" method="POST">
  <label>Name of item:</label>
  <br />
  <input type="text" name="name" size="20" />
  <br />
  <br />
  <label>Purchase Date:</label>
  <br />
  <input type="date" name="purchase_date" style="width: 177px;" />
  <br />
  <br />
  <label>Purchase Price:</label>
  <br />
  <input type="text" name="purchase_price" size="20" />
  <br />
  <br />
  <label>Where did you buy?:</label>
  <br />
  <input type="text" name="store_purchased_from" size="20" />
  <br />
  <br />
  <input type="submit" name="submit" value="submit" size="20"/>
</form>
