<br />
<br />
<form action="/items" method="POST">
  <label>Name of item:</label>
  <br />
  <input type="text" name="item[name]" size="20" />
  <br />
  <br />
  <label>Purchase Date:</label>
  <br />
  <input type="date" name="item[purchase_date]" style="width: 177px;" />
  <br />
  <br />
  <label>Purchase Price:</label>
  <br />
  <input type="text" name="item[purchase_price]" size="20" />
  <br />
  <br />
  <label>Where did you buy?:</label>
  <br />
  <input type="text" name="item[store_purchased_from]" size="20" />
  <br />
  <br />
  <input type="submit" name="Submit" value="submit" size="20"/>
</form>
